html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3efec;
}

@font-face {
  font-family: 'Aller';
  src: url('../fonts/aller_rg-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff');
  font-weight: 700;
  font-style: normal;
}